@font-face {
  font-family: "Mantinia";
  src: local("Mantinia"), url("Mantinia.woff2") format("woff2"),
    url("Mantinia.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
